
# Gtest garbage
test_detail.xml

# Linux Stuff
Makefile
CppSceptor
compile_commands*

# Visual Studio Community/Code stuff
*.sln
*.vcxproj*
.vs/
.vscode/
build/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
